# Twilio Credentials
TWILIO_ACCOUNT_SID=REDACTED
TWILIO_AUTH_TOKEN=REDACTED
TWILIO_PHONE_NUMBER="+16055695774"

# Cloudflare Configuration
CLOUDFLARE_API_TOKEN="cfat_tlHx1K8hOs4F2qIzQUSsc7CWGmudEORDrYc5DYcLa68f67f3"
CLOUDFLARE_ACCOUNT_ID="d089bef8b0b58c5d9506b512ec2f63dc"
CLOUDFLARE_ZONE_ID="2cf6ad4361012c2aba768b1f0cb97770"

# Realtime & Push Notifications
PUSHER_APP_ID="2184826"
PUSHER_APP_KEY="a6b0a27f24d054a44ada"
PUSHER_APP_SECRET="3f810ff5ae80ec5e528e1e68b2d6e43f01099457ba06d9d851c14e6e5a8a741a"
ONESIGNAL_APP_ID="e7c4fd21-764f-465d-b98f-c44f4489662e"

# Auth, Webhooks & Security
STYTCH_PROJECT_ID="project-test-10aaf6e8-7a3c-4d79-a069-2cc7b9c8f5d8"
STYTCH_SECRET="secret-test-r8MU3m1mwseFc9t0WJ39oMICtBvvzoid_Wk="
PIPEDREAM_WEBHOOK_URL="https://eomnz1lxw9o2hyq.m.pipedream.net"
AUTOCHANGELOG_SECRET="4764b141f03da77834419f11f00031780c5db9e7a090d41f6d666dafd1ff960a"
JWT_SECRET="safetylink-secure-jwt-2026-tmmedia"

# Testing Controls
NODE_ENV="development"
